[2013-02-19 19:19] patcon opened #2 "Leverage community modules"
Here are some reliable community modules that we might be able to pull in via librarian-puppet support:
- https://github.com/puppetlabs/puppetlabs-motd
- https://github.com/puppetlabs/puppetlabs-git
- https://github.com/puppetlabs/puppetlabs-apt
- https://github.com/puppetlabs/puppetlabs-nginx
- https://github.com/puppetlabs/puppetlabs-mysql
- https://github.com/puppetlabs/puppetlabs-puppet (?)

[2013-02-19 19:26] patcon commented on #2
https://github.com/saz/puppet-php
https://github.com/example42/puppet-mysql

Can steal approaches from this:
https://github.com/dirkaholic/vagrant-php-dev-box/tree/master/puppet/modules

[2013-02-19 19:26] patcon commented on #2
https://github.com/treehouseagency/puppet-pear
https://github.com/BenoitCattie/puppet-nginx

https://github.com/example42/puppet-solr/
https://github.com/KrisBuytaert/puppet-solr

[2013-02-19 20:08] patcon opened #3 "ssh agent difficulties on OS 10.7"
There are two parts to this. One gives your ssh key to the terminal when you use `vagrant ssh`, so now you're in the VM and using your host machine's keys:
http://stackoverflow.com/questions/11955525/how-to-use-ssh-agent-forwarding-with-vagrant-ssh

The second thing is to give the puppet agent access to that forwarded agent, which is a little harder, but done something like this:
https://github.co

[2013-02-19 20:18] patcon commented on #3
Here's the original thread. Might be way to get it to work with puppet:
http://stackoverflow.com/questions/7211287/use-ssh-keys-with-passphrase-on-a-vagrantchef-setup

[2013-02-20 00:55] patcon opened #4 "Use `localhost` as mysql server rather than `kala`"
The kala drush commands and some of the modules expect to community with mysql at the server `kala`. Can this just be `localhost` for now? For whatever, it seems that accessing mysql through `kala` rather than localhost (after simplifying the `hosts` file), doesn't work smoothly. I'm sure we can figure it out later (if using vagrant ends up making sense), but it would help for now.

Any particular

[2013-04-10 08:00] andrewmallis opened #5 "Could not retrieve catalog from remote server: Error 400 on SERVER: Could not find node 'kala.e823cb0a-daff-459a-a2fd-37d61808551b.f04083c46d392c7c7276a3570a96d095.box'; cannot compile"
[code]

output:

[code]

[2013-04-10 17:26] pirog commented on #5
why do you think this has to do with facter?

[2013-04-10 17:37] pirog commented on #5
because the actual issue is: Could not retrieve catalog from remote server: Error 400 on SERVER: Could not find node 'kala.e823cb0a-daff-459a-a2fd-37d61808551b.f04083c46d392c7c7276a3570a96d095.box'; cannot compile

renaming issue.

[2013-04-10 17:49] pirog commented on #5
i would try this whole thing from scratch and report back

[2013-04-16 22:01] kellybell opened #6 "NFS issues on OS X"
Hi!
I received this error at the end of the README (https://github.com/kalamuna/kalastack/blob/2.x/README.md).
(Running Mountain Lion.)
Thoughts?

[code]

Thanks,
KBELL

[2013-04-16 22:03] kellybell commented on #4
I agree, would prefer `localhost`.

[2013-04-18 00:58] chriz001 commented on #5
same problem here, my first sign of a problem is this

stdin: is not a tty
...
dpkg-preconfigure: unable to re-open stdin: No such file or directory
...
followed by the same error.

[2013-04-18 01:04] andrewmallis commented on #5
we're having a bit of an issue between the box communication and the puppet server. You can try to build the box (temporarily) using the method described [in the wiki](https://github.com/kalamuna/kalastack/wiki/How-to-Participate) with the local puppet definitions. Or, hang tight till we solve this issue!

[code]

n.b. the stdin warning is unrelated to the build process

[2013-04-18 01:38] chriz001 commented on #5
Kalabox 2 Hello.

That Worked!
Will give it another go when the communication issues are solved. Thanks!

[2013-04-18 02:25] chriz001 opened #8 "Possibility of Integration with Aegir?"
Are there any plans, or possibility of integrating kalastack with aegir? http://www.aegirproject.org/

I know it has been built to work with pantheon, but it would also be useful to work with aegir based sites aswell.

If thats not a possibility, will there be plans to be able to import a site manually?

cheers.

[2013-04-18 02:30] pirog commented on #8
Long term goal is for users to be able to spin up new sites using their favorite distros and to be able to import preexisting sites manually.

Would love to add more integration points such as with Aegir or Acquia as well and for users to be able to rebuild their box using different chef/puppet recipes.

[2013-04-18 03:04] chriz001 commented on #8
Sounds good. Guess i will keep my eye on this one.

Thanks.

[2013-04-18 21:43] pirog commented on #8
Give us a look-see around DrupalCon Portland :)

[2013-04-18 21:44] pirog commented on #5
Hoping to have this resolved in the next couple of days.

[2013-04-18 21:45] pirog commented on #6
Also had this issue early on when doing the port to vagrant but has since vanished. Also using OSX ML... have you tried this again?

[2013-04-18 21:46] pirog commented on #4
i think this has changed when we moved to vagrant

[2013-04-19 03:50] chriz001 commented on #8
Will do :)

[2013-04-23 20:42] thamas commented on #5
Same issue here. Local puppet definitions does not work too.

Lots of errors, the last lines:

[code]

[2013-04-23 20:59] thamas opened #9 "Example of use"
I know you held more demonstrations about kalastack. Did someone recorded them? It wouold be good to see an example from live practice how to use kalastack. For example a basic question: is kalastack designed to use as a permanent local dev server for multiple project or shpuld we build a new machine for every project (vagrant default style)?

[2013-04-26 23:04] reynoldsalec opened #10 "Updated Nginx.conf File"
Newly update nginx.conf file with lots of potential goodies in it.

[2013-04-26 23:08] #10 closed, assigned to nobody

[2013-05-07 22:38] pirog commented on #2
yes. we want a 3.x branch of kalastack to built on community sources modules!

[2013-05-07 22:38] pirog commented on #3
having trouble getting SSH forwarding to work correctly but definitely interested in this approach.

[2013-05-07 22:39] #4 closed, assigned to nobody

[2013-05-07 22:44] pirog commented on #9
i suppose you could do either. right now we are using it for multiple projects which has some resource pool issues right now that we are working on fixing. the multiple machine paradigm might be difficult given the finite resources of the computer you are using.

[2013-05-07 22:46] pirog opened #11 "one pool per site"
right now all sites are sharing the same fpm pool. it might be nice to have a pool for each site?

[2013-05-07 22:47] pirog opened #12 "Good defaults and settings"
we need to figure out a better and less invasive way of handling settings.php and settings some good defaults for it.

[2013-05-07 22:48] pirog opened #13 "provide some default shell environment configuration files"
git config colors? basic bash aliases?

[2013-05-07 22:49] pirog opened #14 "investigate sql-sync-pipe to speed up DB sync"
Interesting approach to Db sync from pantheon that pipes the output into gzip for faster transfer:

https://github.com/markcarver/sql-sync-pipe

also

some overlap with [pandarus](http://drupal.org/project/Pandarus) but seems better.

[2013-05-07 22:49] pirog opened #15 "set IP for kalabox to something more oblique"
/etc/hosts is meant to contain

192.168.42.10 start.kala php.kala grind.kala kala

which can pose a security risk on a subnet. Let's use a less common pattern:

[2013-05-07 22:50] pirog opened #16 "check to see if annoying file permissions issues have persisted into v2"

[2013-05-07 22:51] pirog opened #17 "clear caches after site build"

[2013-05-07 22:51] pirog opened #18 "make drush.kala.inc not suck complete balls"

[2013-05-07 22:51] pirog commented on #18
need to rework this code extensively. focus should be on performance, speed and future abstraction/extensibility.

[2013-05-07 22:52] pirog opened #19 "have built sites persist through box rebuilds"

[2013-05-08 02:11] pirog commented on #5
have pushed up some new code and tagged an alpha2 release that after basic testing appears to resolve this issue. would be great to get some feedback from you guys to see if this is the case!

[2013-05-08 02:11] #5 closed, assigned to pirog

[2013-05-08 02:12] pirog commented on #9
@andrewmallis has also provided some updated info in the readme and added some docs to the wiki that might be helpful!

[2013-05-08 02:17] pirog commented on #6
@kellybell have you tried this again recently?

[2013-05-08 12:33] thamas commented on #5
Git pull than `vagrant up kalabox --provision-with=shell,puppet_server` run flawlessly. I see start.kala page in the browser on host machine. That is the result of my short, quick test. Cool! :)

[2013-05-08 12:50] thamas commented on #9
I'll check them. Thanks!

[2013-05-08 18:32] patcon opened #22 "Use vagrant-puppetconf rather than in the script provisioner"
Would this work for y'all?
https://github.com/gposton/vagrant-puppetconf

I'd be happy to put some time into updating the plugin to v2 if you're down with it. I think it would make the setup happening in the vagrantfile much more clear :)

[2013-05-15 23:02] andrewmallis opened #25 "provide licensing information"
we should provide license information in the stack, so people know how free they are.

[GPL license](http://www.gnu.org/licenses/gpl.html)
or
[MIT](http://opensource.org/licenses/MIT)

http://opensource.org/licenses/alphabetical

[2013-05-25 23:23] patcon commented on #19
In the ariadne project, we used a convention where a basic setup recipe would play it safe by default, and not override, then that it would delete the user directories if a certain node attribute was set to `true`

https://github.com/myplanetdigital/vagrant-ariadne/blob/master/cookbooks-override/ariadne/recipes/default.rb#L59-L79

This node attribute was set in the vagrantfile if a specific enviro

[2013-05-25 23:25] patcon commented on #19
In unixy fashion, this could be implemented as a vagrant plugin. Basically, you would set the trigger envvar in the Vagrantfile, and if that existed, it would merge a boolean value into chef/puppet/whatever's facter equivalent that could be referenced in your custom modules.

[2013-05-27 16:05] patcon opened #26 "Remove nfs module"
Why are we installing `nfs-common`? Isn't that presumed to be on the basebox, as folder_sharing would fail without it? Maybe I'm missing how this works though :)

[2013-06-09 22:40] andrewmallis commented on #14
[This pantheon helpdesk issue](http://help.getpantheon.com/pantheon/topics/drush_sql_sync_does_not_work#reply_12223281) points to sql-sync being supported now with updated alias files.

We can install the drush extension in the stack once we upload drush with something like:

[code]

[2013-06-09 22:44] andrewmallis commented on #14
from the project page: https://drupal.org/project/drush_sql_sync_pipe

[2013-06-14 20:06] pirog commented on #26
nope! you are spot on. vestiges of previous stacks. ive killed it in the lastest alpha3 release.

[2013-06-14 20:06] #26 closed, assigned to nobody

[2013-06-14 20:10] pirog commented on #25
added MIT license to latest dev

[2013-06-14 20:10] #25 closed, assigned to nobody

[2013-06-14 20:16] pirog commented on #22
added some ruby magix to the vagrant file and was able to remove the need for that jank ass shell provisioner and by extension i dont think we need this plugin either anymore. holla!

[2013-06-14 20:16] #22 closed, assigned to nobody

[2013-06-14 20:19] pirog commented on #2
3.x branch of kalastack is now 1.x branch of https://github.com/proviso/proviso

[2013-06-14 20:19] #2 closed, assigned to nobody

[2013-06-14 20:20] pirog commented on #6
@kellybell checking in on this again.

we seem to get this issue intermittently albeit infrequently but cant seem to isolate the source.

[2013-06-14 20:21] pirog commented on #8
there is an open source initiative that is happening that we are involved in and that might be a better sounding board for this issue.
https://github.com/proviso/proviso

[2013-06-14 20:21] #8 closed, assigned to nobody

[2013-06-14 20:22] #9 closed, assigned to andrewmallis

[2013-06-14 20:24] pirog commented on #19
now that we are just sticking with ubuntu 1204 this functionality is not as critical as it would have been had we allowed the user to bounce between stacks. might want to move this to the proviso issues queue?

[2013-06-14 20:25] andrewmallis commented on #6
Updated issue to more generically refer to OS X, since the issue was observed on 10.6.8 yesterday as well.

[2013-06-14 20:27] andrewmallis commented on #8
@chriz001 you might want to check out https://drupal.org/project/valkyrie and https://drupal.org/project/devshop two fledgeling Aegir-based projects.

[2013-06-14 21:30] pirog commented on #16
i think vagrant file sharing has resolved this

[2013-06-14 21:30] #16 closed, assigned to andrewmallis

[2013-06-14 21:35] pirog commented on #15
changing this to something way more ELITE. will be in beta1.

[2013-06-14 21:35] #15 closed, assigned to andrewmallis

[2013-06-14 21:36] pirog commented on #13
@andrewmallis post your shiz up here for me to use

[2013-06-14 21:37] pirog commented on #11
looked at this a bit and going to close for now. we want to get better feedback on the current state of the stack before we start messing around.

[2013-06-14 21:37] #11 closed, assigned to pirog

[2013-06-14 21:43] andrewmallis commented on #13
if the user SSH'es into the server and run git there, we should have a `.gitignore` in the vagrant home directory:

[code]

[2013-06-14 22:02] andrewmallis commented on #13
we should also copy the .git-completion.bash file that ships with git, though this should be part of puppet for git.

`sudo apt-get install git-core bash-completion` is recommended here: https://github.com/bobthecow/git-flow-completion/wiki/Install-Bash-git-completion

I've typically just copied the file to my ~/ but a smarter solution pointing to source would be better.

[2013-06-14 22:05] pirog commented on #13
im going to use https://github.com/whastings as a basis for some of this

[2013-06-14 22:11] andrewmallis commented on #13
if [ -f ~/.git-completion.bash ]; then
. ~/.git-completion.bash
fi

once the compeltion is in there…

[2013-06-14 23:00] pirog commented on #13
mallis money ftw

[2013-06-14 23:00] #13 closed, assigned to andrewmallis

[2013-06-15 00:19] pirog commented on #18
kind of reworked... mostly updated to handle the existence of db connection info in the new pantheon aliases.

[2013-06-15 00:19] #18 closed, assigned to pirog

[2013-06-15 00:27] pirog commented on #17
this is in the latest release

[2013-06-15 00:27] #17 closed, assigned to andrewmallis

[2013-06-15 02:58] pirog commented on #14
this will be in beta1... we will need to test it ... not sure it is that much faster yet

[2013-06-15 02:58] #14 closed, assigned to andrewmallis

[2013-06-16 21:52] pirog opened #27 "some funk re-upping the box after first build"
i have traced this issue to some sort of permissions error that seems to happen when the box tries to establish network connections on a start. it seems to be coming from the new user module.

[2013-06-16 22:15] pirog commented on #27
might be a syntax error in one of the files.

[2013-06-16 23:05] pirog commented on #27
/Applications/Vagrant/embedded/gems/gems/net-scp-1.1.0/lib/net/scp.rb:385:in `await_response_state':  (RuntimeError)
    from /Applications/Vagrant/embedded/gems/gems/net-scp-1.1.0/lib/net/scp.rb:356:in`block (3 levels) in start_command'
    from /Applications/Vagrant/embedded/gems/gems/net-ssh-2.6.6/lib/net/ssh/connection/channel.rb:311:in `call'
    from /Applications/Vagrant/embedded/gems/gems/

[2013-06-17 02:26] pirog commented on #27
looks like either .exports or .aliases was causing this. going to remove for now and will reimplement later.

[2013-06-17 02:26] #27 closed, assigned to pirog

[2013-06-17 03:27] pirog opened #28 "kaladata not working when doing full site build"
kala_data seems to work independently but when run as part of kala_build it seems to fail.

[2013-06-18 01:27] pirog commented on #28
had to have settings.php set up locally first... also needed to wake up pantheon db server in come cases

[2013-06-18 01:27] #28 closed, assigned to nobody

[2013-06-18 01:29] pirog commented on #12
i took over this and provided some good defaults in settings.php plus a $_SERVER['KALABOX'] that is set to 'on' when you are on the stack.

[2013-06-18 01:29] #12 closed, assigned to andrewmallis

[2013-06-18 01:42] pirog opened #29 "puppet master reaped?"
I think this server is getting spun down after awhile which causes this error
err: Could not retrieve catalog from remote server: Error 400 on SERVER: Could not find node 'kala.e66ab9dd5e4c4cb04624b43aabf843af.box'; cannot compile
warning: Not using cache on failed catalog
err: Could not retrieve catalog; skipping run

if you try running it again i think it will work. if not just go to kalabox.kal

[2013-06-18 02:22] pirog commented on #3
this seems to work on beta4

[2013-06-18 02:33] pirog commented on #19
there might be a quick and dirty way to do this so im going to reopen this.

maybe put mysql databases and vhosts in a vagrant shared folder?

[2013-06-18 02:33] pirog opened #30 "add entry to hosts /etc/hosts after site is built"
it would be really awesome to figure this out... but my only idea on how to do it is really intrusive

[2013-06-18 02:42] pirog opened #31 "set some sane defaults for user config without borking the box and providing a config pathway that doesnt wipe out the users customizations"
we have already pulled in some useful config from https://github.com/whastings/dot-files but we need to get the aliases and exports files to work.

this stuff should go into the user class.

[2013-06-18 03:12] pirog opened #32 "nfs file permissions"
nfs folder sharing uses 501:dialout as the user:group and this sometimes causes files uploads and other things to behave funny.

tehre is this plugin
https://github.com/folken-laeneck/vagrant-bindfs

but i dont really want to slow down the box :(

[2013-06-18 03:24] pirog opened #33 "verify solr works"

[2013-06-18 04:14] patcon commented on #3
Nice. As in agent forwarding works for puppet??

[2013-06-18 04:24] patcon commented on #3
I'm pretty sure agent_forward fails silently if you don't have a key loaded into ssh-agent, so might want to ensure this somewhere:
https://github.com/myplanetdigital/vagrant-ariadne/blob/3666f72f6734c3da6c90bd6add6f9bfdf4c08280/.rvmrc#L33-L38

[2013-06-18 17:57] pirog commented on #32
Maybe we just need to add vagrant to the dialout group?

[2013-06-18 18:16] pirog commented on #3
awesome! thanks @patcon!

We are all getting up on this version of the box today and will begin testing for a hopeful rc1 release. I'll likely roll this into our build somewhere but i'll let you know how it goes.

[2013-06-18 18:29] pirog commented on #32
looks like that does it!

[2013-06-18 18:29] #32 closed, assigned to nobody

[2013-06-18 19:25] pirog commented on #6
just got this error testing on 10.7.5... but just halted the box, ran the command again and it worked fine... maybe this is just ghosts in the machine.

[2013-06-18 19:44] reynoldsalec opened #34 "php.kala and grind.kala don't function on OS 10.7"
php.kala, grind.kala, and php.kala, despite being correctly inserted into /etc/hosts on the host machine, aren't functional. However, if you attempt visiting solr.kala, you are taken to php.kala.

start.kala functions as expected.

[2013-06-18 19:51] pirog commented on #31
@andrewmallis if you and will could figure out the best way to handle settings some good config but also not wiping out changes on subsequent provisions that would be swell

[2013-06-18 19:57] reynoldsalec commented on #3
Looks like there is some weirdness with ssh-agent forwarding, possibly related to me being on 10.7. Upon attempting a "drush build", I receive password requests. This is after restarting the box once since install.

Might want to confirm the OS part and then see what the deal is.

[2013-06-18 20:21] patcon commented on #3
No problemo! Sorry, not sure about that specific issue @reynoldsalec. I used agent_forwarding according to that stack overflow link above, so I think it's a little different than you guys are using it

[2013-06-18 20:34] whastings commented on #31
So far, I'm thinking the following customizations would be helpful out of the box:
- .git-completion.bash (which we have already)
- .git-config (We can use this to set nice colors in git output. We have this already, but we've put it in the home folder. We're thinking it would be good to move this to the system-level gitconfig so the user can override things in her ~/.gitconfig if desired
- Prompt

[2013-06-19 21:08] reynoldsalec commented on #34
I think this was user error, not 10.7, on my machine. I had Kalabox stuff from the old Kalabox installer AND entries from the original Kalabox in my hosts file. After removing those everything is cool. If @pirog had issues on another computer we might want to make sure funk wasn't going on in that hosts file. Closing unless that turns out to be the case.

[2013-06-19 21:08] #34 closed, assigned to nobody

[2013-06-20 02:13] sammys opened #35 "Mail server needed"
This is a known issue. I'm posting this so it's tracked in GitHub at Andrew Mallis's request.

My preferred setup for virtual machines is to setup a postfix mail server on the guest and relay mail to a legitimate mail server through a SSH tunnel. Here are the details:

After "up"-ing the kalabox I do the following steps:
1. Install postfix as a satellite and configure relayhost to relay to 127.0.0

[2013-06-20 21:36] pirog commented on #35
we definitely want mailing to be functional and its in the roadmap. that all said im not sure i want to add the overhead of installing postfix. do you have any lighterweight suggestions for getting mail functionality?

[2013-06-20 21:37] pirog commented on #31
@whastings @andrewmallis hey guys, im fine with you guys directly committing whatever you come up with. At the same time if it makes you feel more comfortable having me look at it first you can alternatively submit a pull request.

[2013-06-20 21:40] pirog commented on #3
I have 4-5 reports of it working as intended (at least with people who actually have an ssh key already on their host) on 10.8...

would be great to get some additional report for 10.7 or below.

[2013-06-20 22:26] pirog commented on #34
@reynoldsalec as soon as we get a power supply for the old laptop lets def check to see if the same thing was happening on that machine.

[2013-06-21 18:25] reynoldsalec commented on #3
Yeah, and I just updated to 10.8, so can't test on my machine anymore.

On Thu, Jun 20, 2013 at 2:40 PM, Michael Pirog notifications@github.comwrote:

##

Co-founder Kalamuna, LLC http://www.kalamuna.com
510.666.5489

[2013-06-21 21:45] whastings commented on #3
What I've noticed is that my SSH key does not carry over to the VM unless I've used it on my host before "vagrant ssh"ing into the VM. So if I start up the host, vagrant ssh, and git pull, I'll get asked for a password. But if I start up the host, do something with SSH on the host like pull down a repo, then vagrant ssh, I won't get asked for a password.

[2013-06-21 21:53] andrewmallis commented on #3
nice catch, @whastings
my vintage laptop is running 10.7 can be used to test @reynoldsalec

[2013-06-21 22:11] andrewmallis commented on #33
1. pantheon_api, pantheon_apachesolr were not disabled automagically; not sure if they're supposed to be via the new sql-sync flags.
2. i was able to re-index and successfully get results out of the Occupy Directory project.

[2013-06-21 22:42] whastings opened #36 "Provide a Drupal site out of the box (no pun intended)"
@pirog Is it still planned to have one Drupal site running on the just-installed box? Maybe at start.kala?

[2013-06-22 21:10] andrewmallis opened #37 "update kalamuna drush help text for parity with new configurations"
We now ask the user to rename pantheon.aliases.drushrc.php,

We use http://solr.kala:8983/solr/ for solr.

http://kala has fallen out of favor.

Also our drush command namespace has changed from `drush code pantheon.SITENAME.dev` to`drush code SITENAME.dev`

[2013-06-22 21:14] andrewmallis commented on #37
@reynoldsalec commits
2ad8a919ad388bf452f4b951a390c4ab30fa8e83
24872f5f51a5db32b18b5768d854d6726ec0f3f9
f5634d4bd366c4151211e0c6ebdf00265346f07f
go a good part of the way

f2eb959137fa453d3308ac5302d49ec22b17892b
now updates help text to match

[2013-06-22 21:14] #37 closed, assigned to andrewmallis

[2013-06-23 18:03] pirog commented on #36
yeah definitely. might want to do something besides start.kala... mysite.kala or something lame like that.

in terms of implementation maybe it would make most sense to leverage drush for this vs shipping with it already installed? not sure.

[2013-06-23 18:06] pirog commented on #33
1. should only try to disable pantheon_apachesolr i think its fine for the api to stay on. ill give this a test a little later.
2. this is good but i think its only because the directory is using the old patched rc4 search_api and we are shipping with those schemas in the stack. we should try this on a different site because i suspect it will not work. we need to get up to speed with the new searc

[2013-06-23 18:19] pirog commented on #3
@patcon sounds like @whastings is maybe experience the ssh-agent loading fail you mentioned?

[2013-06-23 19:17] whastings commented on #36
I like the idea of using Drush to build it. Perhaps the best approach would be to work on the custom Drush command for spinning up a local site (i.e. like drush build does for Pantheon, but without the need for a Pantheon site to start from). Then we could have Puppet run this command to create an initial Drupal site for the user.

[2013-06-23 20:49] reynoldsalec commented on #36
Should be able to do this with drush dl drupal and drush si (site-install), more or less. Might merit a separate drush script if there are any additional things we need to do.

[2013-06-23 21:46] whastings commented on #36
Sounds good. Could we write a command that uses these two commands, as well as sets up a Nginx vhost and database?

[2013-06-24 03:43] patcon commented on #3
Yep :) You'll just need a way to force loading a key into ssh agent, and the bit in that link above does the trick for bash. The important bit is running `ssh-add`. You could create one of those really simple "plugins" that you'd done previously

[2013-06-24 23:49] pirog commented on #3
i think that makes sense to me but i am airport-dumb right now. @whastings... does this make sense to you?

thanks @patcon!

[2013-06-24 23:57] pirog commented on #36
yup, exactly what i was thinking. should already be a vhost/db command we can leverage. will probably have to use the settings rebuilder as well.

[2013-06-25 16:56] whastings commented on #3
Yea, that makes sense. The Bash script to add it looks simple enough. Is there a way to run a custom bash script whenever Vagrant starts a box? Or perhaps we could write another tiny Vagrant plugin in Ruby to run ssh-add when the box starts?

[2013-06-25 20:38] pirog commented on #3
the "shell" provisioner allows you to run a custom bash script but id rather not bring that back into the picture since its very unsexy.

i think i agree with the "faux" plugin approach which also is not really sexy.

[2013-06-26 17:05] pirog opened #38 "figure out host updater funk"

[2013-06-26 23:48] whastings commented on #38
Turned out this was just an issue with the plugin and Vagrant 1.1.2. Upgrading to 1.2.2 fixed it, so I've updated the README to reflect 1.2.2 as the required Vagrant version.

[2013-06-26 23:48] #38 closed, assigned to nobody

[2013-06-26 23:51] andrewmallis commented on #38
@whastings with the smackdown!

[2013-06-26 23:52] whastings commented on #38
Lol, thanks but it was @pirog that thought to try upgrading Vagrant.

[2013-06-28 02:24] pirog opened #39 "Drupal 6 build fail"
Directory /home/vagrant/.drush/cache/default exists, but is not writable. Please check directory permissions.                                                       [error]
PHP Parse error:  syntax error, unexpected T_ENCAPSED_AND_WHITESPACE in /var/www/atfpd6/sites/default/settings.php on line 269
PHP Stack trace:
PHP   1. {main}() /usr/share/drush/drush.php:0
PHP   2. drush_main() /usr/share/drus

[2013-06-28 10:40] sammys opened #40 "VirtualBox 4.2.14 fails to build the box"
A heads-up for anyone that upgrades VirtualBox often. Just upgraded VirtualBox 4.2.12 to 4.2.14 and it's now failing to create the box.

OS X 10.8.4 host

Relevant debugging output

[code]

After this I did revert back to 4.2.12 and the build failed to bring up the guest. I tried bring it up in the VirtualBox GUI and it reported that VT-x extensions were not available. Might be related... Might no

[2013-06-28 19:16] andrewmallis commented on #40
[README](https://github.com/kalamuna/kalastack/blob/2.x/README.md) says we support Virtualbox 4.2.8. A lot of dependencies are really tricky with this fast moving new tech. Part of the reason we're building a front-end installer and controller is to help mitigate the dependency hell that ensues when things are not just right.

Unless you have another project requiring 4.2.1x, you should run 4.2.8.

[2013-06-28 19:16] #40 closed, assigned to nobody

[2013-06-28 23:11] whastings opened #41 "Make system level Drush aliases folder writeable"
@pirog For the box, we need /etc/drush to be writeable by the vagrant user so we can transfer user's alias files to it.

[2013-06-29 00:51] pirog opened #42 "wrap kalabox with isset in settings.php"

[2013-06-29 02:07] pirog commented on #29
dev should now be issuing a very jank "wake up command" before upping. going to want to change this to ONLY run when puppet server is being used.

[2013-06-29 02:07] #29 closed, assigned to nobody

[2013-06-29 02:36] pirog commented on #42
this is in latest dev

[2013-06-29 02:36] #42 closed, assigned to nobody

[2013-06-29 02:37] pirog commented on #39
fixed in dev, should be in beta5

[2013-06-29 02:37] #39 closed, assigned to pirog

[2013-06-29 02:49] #41 closed, assigned to nobody

[2013-07-01 00:21] andrewmallis opened #43 "location of drush alias file reported on guest system could be disambiguated"
Drush alias file location reported on guest system reports:

[code]

Since /var/www/ maps to ~/kalabox/www/
The user might expect their host system at ~/kalabox/www/.drush to contain aliases.drushrc.php

[2013-07-01 00:23] andrewmallis commented on #43
Instead of

[code]

let's use

[code]

[2013-07-01 00:28] andrewmallis commented on #43
commit 19d12cd483dc0e67c1958fba18bfa0c2c9190a23 implements this change.

[2013-07-01 00:44] pirog commented on #43
please revert this change and submit a pull request. we need to discuss this change more before we commit it.

[2013-07-01 00:48] andrewmallis commented on #43
reverted as this exposes cache folder to user and that's no good.

[2013-07-02 21:14] whastings commented on #31
FYI, if we create a .bash_profile, .bashrc won't get sourced.

[2013-07-02 21:17] whastings commented on #31
Also, we may want to put important Bash commands, like setting the KALABOX environment variable, in a safer place than .bashrc.

[2013-07-05 21:41] pirog commented on #33
solr works but you still need to copy schema/solrconfig/etc to the solr conf directory to get it to work... might want a better option similar to pantheons "post schema"

[2013-07-05 21:42] pirog commented on #31
followed some better procedures here to move global config out of user config and to append to files missing needed conf vs overwriting them.

you might want to destroy and rebuild.

[2013-07-05 21:43] pirog commented on #31
this will be in beta6

[2013-07-05 21:43] #31 closed, assigned to whastings

[2013-07-05 21:43] pirog commented on #43
going to move this to /etc/drush... as @andrewmallis points out it is awkward in the /var/www/.drush.

will be in beta6

[2013-07-05 21:43] #43 closed, assigned to nobody

[2013-07-07 00:18] pirog opened #44 "set vm memory to some percentage of available host memory and use that to allocate guest resources"

[2013-07-07 03:54] pirog commented on #36
an updated drush build command that lets you spin up new distros will be in the beta6 release

[2013-07-07 03:54] #36 closed, assigned to nobody

[2013-07-08 18:45] pirog commented on #19
in beta6 if you spin up a site and then have to rebuild your box you dont have to rebuild the site

[2013-07-09 02:39] pirog commented on #19
quick and dirty way is a no go. this should be a vagrant plugin.

[2013-07-09 14:09] patcon commented on #19
Never tried it, but what about the approach of syncing the folder that stores the mysql db files, so that they persist?
http://stackoverflow.com/questions/484750/restoring-mysql-database-from-physical-files

EDIT: Also related:
https://groups.google.com/forum/#!msg/vagrant-up/s5DheLw-v5Q/o-irqCTs2xkJ

[2013-07-13 20:24] whastings opened #45 "Mac OS firewall interferes with box when enabled"
I've identified two problems that occur when the Mac firewall is enabled:
1. When the firewall is on and "Block all incoming connections" is checked under "Firewall Options", NFS mounting fails
2. When the firewall is on, box sites (e.g. php.kala) are inaccessible. Unchecking "Block all incoming connections" doesn't fix it. They don't work until you turn the firewall off completely.

We should fig

[2013-07-14 19:13] rb2k commented on #35
How about http://mailcatcher.me/ ?

[2013-07-15 17:01] whastings commented on #45
This article might help with opening up a path to NFS through the firewall:

http://www.williamrobertson.net/documents/nfs-mac-linux-setup.html

[2013-07-15 20:21] pirog commented on #45
good to know. definitely annoying behavior.

[2013-07-15 20:29] pirog commented on #35
very interesting. we will definitely look into this! i would love to get a good, lightweight and non-annoying-to-actual-people solution wrapped in here.

[2013-07-15 20:36] andrewmallis commented on #35
Looks very decent; hope we can hook it up without a dependency on rvm for the stack.

[2013-07-22 21:27] whastings opened #46 "Starting up fails when the host has no Internet connection"
Ruby throws an exception when attempting to "vagrant up --no-provision" without Internet access. This appears to be caused by the plugin that wakes up the puppet master, as the error is gone when you comment out this plugin.

[2013-07-23 18:45] whastings commented on #44
@pirog For the meantime, I listed the 2GB RAM default under Quickstart in the README and created a wiki page with instructions on lowering the amount of RAM in the Vagrantfile. We should be able to remove these once this issue is complete.

[2013-07-23 18:48] whastings opened #47 "Download and Use Ubuntu 32-bit on 32-bit Machines"
@pirog Now that "vagrant up" handles downloading the .box file and adding it to Vagrant, could we add some logic that will cause it to use a 32-bit version of the .box file if the host machine is 32-bit? For now, I noted in the README's Quickstart section that Kalastack uses a 64-bit VM.

[2013-07-23 22:19] pirog commented on #47
yes... i know this was in the backlog for awhile but might have been lost during recent cleanup. think this is a great idea.

[2013-07-23 22:20] pirog commented on #44
@whastings agreed. looked around in the ruby docs for a way to check "available memory"... couple possible pathways there. any thoughts on how to do this?

[2013-07-24 16:47] pirog opened #48 "other modules to disable on DB pull"
securepages? other stuff?

[2013-07-24 16:50] pirog opened #49 "ssl support?"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956095-ssl-support?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github).
</bountysource-plugin

[2013-07-24 16:52] whastings commented on #44
I did some searching and found a couple contributed Ruby libraries that do it, but neither of them come with Vagrant. It looks like we can determine it through the command line via this command:

[code]

On my computer, one of the lines it yielded was: `Memory: 8 GB`

[2013-07-24 16:57] pirog commented on #44
awesome. i saw that as well. gotta figure out how to integrate it.

what do you think is a reasonable % of memory to allocate to the VM?

On Wed, Jul 24, 2013 at 12:52 PM, Will Hastings notifications@github.comwrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2013-07-24 17:26] whastings commented on #47
I created a little wiki page for manually using the 32-bit Ubuntu image and linked to it from the requirements section of the README. We can remove these after this issue is resolved.

[2013-07-24 17:32] whastings commented on #44
I think it should be easy to run the command from Ruby in the Vagrantfile, then parse the output with a simple regex.

For memory percentage, I'm thinking something like:
- 25% of host memory in general.
- Maybe a 1GB memory minimum? What we should probably do is look at the max memory we're allocating to nginx, MySQL, and PHP, add it to Ubuntu's base memory requirements, and use that to determine

[2013-07-31 04:57] pirog commented on #46
this has been added to beta7

[2013-07-31 04:57] #46 closed, assigned to pirog

[2013-07-31 21:25] pirog commented on #47
this should be in the next release.

[2013-07-31 21:25] #47 closed, assigned to nobody

[2013-07-31 21:26] #19 closed, assigned to pirog

[2013-07-31 21:26] #30 closed, assigned to nobody

[2013-07-31 21:28] pirog commented on #33
we are going to put the solr schema posting mechanism into the kalabox config. probably easier for the user and less intrusive then requiring a custom drupal module.

that said i am going to provide another "env variable" that when set will install solr. this way we can have a spin up button on the box.

[2013-07-31 21:42] pirog commented on #44
set on the vagrantfile side... need to allocate in puppet based on that number still

[2013-07-31 21:44] pirog commented on #33
to install solr via the stack as an add on you now set the environmental variable on the command line

$ export KALABOX_SOLR=TRUE
$ vagrant up

[2013-07-31 21:44] #33 closed, assigned to nobody

[2013-07-31 23:42] pirog commented on #44
this should allocate some basic stuff php, apc, mysql based on the users total mem

[2013-07-31 23:42] #44 closed, assigned to nobody

[2013-08-04 20:56] pirog opened #50 "local aliases issues"
seems like aliases are overwriting one another and pantheon sitenames are not being written correctly

[2013-08-05 02:08] #50 closed, assigned to nobody

[2013-08-06 17:11] whastings commented on #45
Here's an issue on the Vagrant queue where some people posted solutions that worked for them:

https://github.com/mitchellh/vagrant/issues/1093

The answer from dkubb looks like it might be a good try.

[2013-08-08 02:55] pirog commented on #6
https://github.com/mitchellh/vagrant/issues/1093#issuecomment-17209368

[2013-08-08 02:56] pirog commented on #45
I added a trello card for adding the firewall issue to our help docs .. however it also looks like https://github.com/mitchellh/vagrant/issues/1093#issuecomment-17209368 might address #6 ?

[2013-08-10 03:43] pirog commented on #45
@reynoldsalec... can we close this out?

[2013-08-10 03:44] pirog commented on #3
this should be resolved in teh next release

[2013-08-10 03:44] #3 closed, assigned to whastings

[2013-08-10 04:09] pirog commented on #6
I _think_ this should be resolved in rc3

[2013-08-10 04:11] pirog commented on #45
if people are still having this issue please consult
https://kalamuna.atlassian.net/wiki/display/kalabox/Troubleshooting+Kalabox+Problems

[2013-08-10 04:11] #45 closed, assigned to nobody

[2013-08-10 05:11] pirog opened #51 "Integate with terminus"
leverage the terminus

[2013-08-22 20:56] rebeccagarciatech opened #52 "VM Force Shuts Down After 'Vagrant Up'"
I installed the latest Vagrant 1.2.7 and VirtualBox 4.2.16 on a fresh machine, and I'm wondering if that's what's causing this issue.

Re-ran 'vagrant up' with sudo, with '--provision' but either way it fails to boot. Took a look through the .Vagrantfile and I didn't see anything that seemed to conflict.

Thanks!

[code]

[2013-08-22 21:09] rebeccagarciatech commented on #52
Ah yup, I can confirm it's an issue with the latest Vagrant, I uninstalled it and re-installed 1.2.2 and the issue seems to be resolved.

[2013-08-22 21:12] pirog commented on #52
@geekgirlweb yeah i was going to saw we have only tested with Vagrant 1.2.2 and VB 4.2.8 thus far.

Also, do you have a Mac? We have a cool GUI version of this that is in "private alpha" but we would love to get more people who are interested involved.

[2013-08-22 23:28] rebeccagarciatech commented on #52
@pirog Yup, on Mac Lion 10.8.4, I believe I sent a while back to some of the Kalamuna team from my email garcia.rebecca at gmail.com :)

[2013-08-23 22:36] #52 closed, assigned to nobody

[2013-08-23 22:41] pirog commented on #6
This worked but introduced other errors, reopening and likely reverting.

[2013-08-23 23:13] whastings opened #53 "Apostrophes in new site names cause PHP syntax error in kala alias file"
We need to escape single quotes/apostrophes in site display names to prevent an error in the generated aliases file.

[2013-08-24 00:16] pirog commented on #6
So the actual issue here seems to be one of two things.
1. You don't have at least NFS version 3 which seems unlikely
2. You have enabled the "Block all incoming connections" option in MacOSX's Firewall

[2013-08-24 00:27] whastings opened #54 "Weird permissions on settings.php causing issues"
I've noticed that some sites built on the box have sites/default/settings.php set to weird permissions, such as 0444. This has resulted in two problems:
1. If you remove the site, it's directory will be left in /var/www as a result of being unable to delete settings.php
2. If someone updates settings.php in a site's repository, git pull will fail to update settings.php with the new version.
##

<b

[2013-08-24 00:43] #6 closed, assigned to pirog

[2013-08-24 00:43] pirog opened #55 "Drush needs version on upgrade"
sudo drush dl drush seems to fail silently now

sudo drush dl drush-7.x-5.9 does work and is better since we might want to pin for stability reasons.

[2013-08-24 00:46] pirog commented on #55
this is fixed in rc2

[2013-08-24 00:46] #55 closed, assigned to nobody

[2013-08-24 18:57] dwoods commented on #52
The same thing happened to me, but in my case it was due to following the directions in the README and creating the project in ~/kalastack instead of ~/kalabox.  ~/kalabox is hardcoded in the Vagrantfile.  I'll open a separate issue for this.

[2013-08-24 19:03] dwoods opened #56 "Installation instructions inconsistent with Vagrantfile config"
Following the directions in the README will result in a non-functional install.  The README uses ~/kalastack, but the NFS shared folder config in the Vagrantfile points to ~/kalabox.

[2013-08-24 19:20] pirog commented on #56
This shouldn't make a different. You can actually put the kalastack code wherever you want, ~/kalastack, /Something/Something/Something/Darkside, ~/Documents/MyStack.

I'm actually running mine from ~/.kalabox/kalastack.
That said the shared folders are indeed mounted at ~/kalabox but this shouldn't make a difference.

If you could tell me the ID of your stack by running
cat ~/kalastack/.kalabox/u

[2013-08-25 00:03] dwoods commented on #56
Ah, okay.  Must have just been a coincidence then - me reinstalling into ~/kalabox and then it working the second time.

uuid file contains kala.3a81d314d2de51887985e7c563c1eec8.box

My versions:
- Vagrant is 1.2.2
- Virtualbox 4.2.16.

[2013-08-25 00:13] pirog commented on #56
@dwoods thanks a bunch for trying again. i see a successful build report for 3a81d314d2de51887985e7c563c1eec8 so thats good!

we only "officially" support VB 4.2.8 but im glad to know it seems to be working on 4.2.16 !!!

[2013-08-25 00:13] #56 closed, assigned to nobody

[2013-08-25 18:28] reynoldsalec commented on #54
I think I've noticed this as well; the only way I'm able to remove
settings.php on some built sites is via Finder on the host machine.

On Fri, Aug 23, 2013 at 5:39 PM, Will Hastings notifications@github.comwrote:

##

Co-founder Kalamuna, LLC http://www.kalamuna.com
510.666.5489

[2013-08-30 19:05] #53 closed, assigned to nobody

[2013-08-30 21:14] whastings commented on #54
So I verified that Drupal is repeatedly setting sites/default, sites/default/settings.php, and sites/default/default.settings.php to non-writable permissions. This happens whenever system_requirements() runs. The commit above fixes this for site removal via our drush crush command, simply by chmod'ing these to writable before removing the site's webroot directory.

Unfortunately, the issue of git

[2013-09-03 16:21] tizzo commented on #54
Yeah, I've had that exact issue a number of times. I don't really know of a good fix.  The way I've handled it is by ensuring that we never actually use the default site (we create a site folder for the local name (we use mysite.local)) and dynamically generate the settings.php file to be placed there. That way we do not get git conflicts. I think trying to use git hooks for this would be a bit of

[2013-09-03 16:55] whastings commented on #54
Thanks so much for the insight Howard. It's definitely a tricky issue to solve. I agree a git hook would be hacky, and I didn't see a way to do it with one anyway. I like the sound of linking the guest user to the host group. Please let us know if you have any luck with that.

[2013-09-03 19:03] pirog commented on #54
Thanks @tizzo ... we've contemplated a bunch of mostly gross ways to get this to "work" but thought we'd see if you and/or @patcon had any wisdom.

[2013-09-03 19:31] patcon commented on #54
Sorry guys, we don't version-control the settings.php file either, so I don't really hit the git pull problem. Whenever we programmatically delete the docroot for something, we simply make sure that the script that does the deletion runs `chmod 777 setttings.php` beforehand. But yeah, can't be much help beyond that :)

[2013-09-03 19:33] tizzo commented on #54
I've seen chmod 777 fail too depending on the host/client NFS share and
permissions.

On Tue, Sep 3, 2013 at 3:31 PM, Patrick Connolly
notifications@github.comwrote:

[2013-09-03 19:41] pirog commented on #54
@tizzo we've observed similar behavior as well.

would love to not vc settings.php but we often put a lot of pantheon centric stuff in there.

[2013-09-13 00:23] pirog opened #57 "Create kalabox dir if doesnt exist"

[2013-09-13 23:02] #57 closed, assigned to nobody

[2013-09-16 19:25] whastings opened #58 "Revisit virtual machine memory usage"
Currently, we're having the VM take up 50% of the host's memory. We've witnessed this cause degraded performance on a host with 4GB of memory. We should revise the logic to do the following:
- Make sure the VM will have at least 1GB of memory available to it.
- Make sure the VM will use only up to 25% of the hosts total memory, providing that's sufficient to meet the 1GB minimum.
- Make sure the V

[2013-09-16 23:35] pirog opened #59 "move dir creation into fauxplugin for now"

[2013-09-16 23:44] #59 closed, assigned to nobody

[2013-09-17 00:05] #58 closed, assigned to pirog

[2013-09-17 19:50] whastings opened #60 "Upgrade Solr schema.xml"
We should upgrade the schema.xml file we use when installing Solr, as the latest version of Search API Solr doesn't work with the one we have.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956093-upgrade-solr-schema-xml?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties v

[2013-09-21 00:48] pirog opened #61 "remove faux dir create plugin and upgrade to 1.3.3"

[2013-09-21 00:48] #61 closed, assigned to nobody

[2013-09-29 16:30] CalebGilbert opened #62 "Install directions differences between wiki and front page"
After a bit of tinkering around I got everything working well. A few things:
1. The instructions of the front page/readme are different than the instructions in the wiki. The wiki includes this command:

<code>vagrant plugin install vagrant-vbguest</code>

...which the front page/readme does not. It appears that the front page/read me is the correct one (e.g., the command listed on the wiki is not

[2013-10-02 00:18] pirog commented on #62
@CalebGilbert, thanks for pointing this out! I've corrected the documents.

Weird that the master branch did not work... at the time of your post MASTER and RC3 were the same i think.

So Kalamuna was one of the orgs present during the conversation that ultimately led to provisos birth. We have put some effort into the project but not as much as we would like to. Kalastack currently powers our "so

[2013-10-02 00:18] #62 closed, assigned to nobody

[2013-10-02 00:19] pirog commented on #60
i'll add this in on friday.

[2013-10-02 19:23] reynoldsalec opened #63 "Color Formatting on git diff > file.patch"
Both Stephen and I noticed that we're getting color formatting when using git diff to create patches; need to do a bit more research to see if this is a bug or expected behavior of git diff, but thought I'd ping you on it.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956092-color-formatting-on-git-diff-file-patch?utm_campaign=

[2013-10-02 20:05] pirog opened #64 "support for pantheon multidev"

[2013-10-03 18:30] pirog opened #65 "Use terminus to handle pantheon SSH keys"
we will still forward in the uses SSH key but we will also create a new key on the box and post it to pantheon via terminus. this key will be used when interacting with pantheon.

[2013-10-03 18:31] pirog opened #66 "add composer/terminus to kalastack"
this will handle terminus package mgmt

[2013-10-03 18:40] pirog opened #67 "config.json"

[2013-10-03 19:52] #67 closed, assigned to nobody

[2013-10-04 00:46] #66 closed, assigned to nobody

[2013-10-04 01:43] pirog commented on #60
@whastings it seems this is more complicated then just replacing schema.xml.

have you actually dropped in the new schema and had it work at all?

[2013-10-04 17:02] whastings commented on #60
@pirog The way I've gotten Solr to work on the box so far is to use the latest Search API Solr's 1.4 schema.xml file.

[2013-10-05 18:56] labboy0276 opened #68 "Success in Klingon is wrong"
you have it as Q'Plah, it should be Qapla'

[2013-10-05 19:10] #68 closed, assigned to nobody

[2013-10-05 19:10] pirog commented on #68
@labboy0276 this is a critical hotfix which deserves immediate attention. thanks for your diligence here.

[2013-10-05 19:14] labboy0276 commented on #68
luckily I read the The Star Trek Encyclopedia 20+ years ago, this could of brought us down

[2013-10-05 19:15] pirog commented on #68
I'm just really glad we cleaned this disgrace up before the public release.

I take full responsibility.

[2013-10-14 06:41] #65 closed, assigned to nobody

[2013-10-14 06:41] pirog commented on #64
Closing this because it should go into the Terminatur issue queue now

[2013-10-14 06:41] #64 closed, assigned to nobody

[2013-10-14 06:43] pirog commented on #54
Closing this because it should be addressed here now
https://github.com/kalamuna/terminatur

[2013-10-14 06:44] pirog commented on #48
Closing this because it should be addressed here now:
https://github.com/kalamuna/terminatur

[2013-10-14 06:44] #48 closed, assigned to nobody

[2013-10-14 06:46] pirog commented on #51
Integration with Terminus by way of Terminatur
https://github.com/kalamuna/terminatur

[2013-10-14 06:46] #51 closed, assigned to nobody

[2013-10-14 18:44] tizzo commented on #54
Correct me if I'm wrong but these issues can result from the permission on settings.php getting set to the recommended permissions when in a file share (`drush site-install` will update the perm for example) such that the owner can't write to settings.php. Here the nfs mounted user looses the ability to ever change the perm back or remove the file, if that's what you're experiencing this might not

[2013-10-14 18:57] pirog commented on #54
Very well could be correct.

While testing terminatur late last night i did notice that trying to either
edit settings.php or remove sites/default after drush site-install produced
something like this although i am less sure now if it produced "exactly"
this. The issue i experienced was mitigated by having terminatur chmod
settings.php before write and sites/default before remove. I am going to
re

[2013-10-14 19:39] tizzo commented on #54
Yeah, I haven't looked into Terminatur yet. It looks to do a lot of the same things [fetcher](http://drupal.org/project/fetcher) does (setting up vhosts, databases, etc) but looks to be pantheon specific? Fetcher doesn't support pantheon yet but aims to be platform agnostic.

We definitely have some overlap and I wonder if we should be collaborating on this stuff.

[2013-10-14 19:48] patcon commented on #54
@tizzo is being modest, but he was speaking with one of the aegir maintainers, and @anarcat was saying that fetcher sounds pretty much like it's v3 of [provision](https://drupal.org/project/provision) (which is the drush guts of aegir) :)

So hopefully there's an opportunity for a long-term collaboration between y'all. Whoop!

[2013-10-14 21:58] anarcat commented on #54
that would be v4, actually, v3 is the d7 port. ;)

[2013-10-14 22:28] patcon commented on #54
:+1:

[2013-10-22 17:13] pirog opened #71 "When ssh-add reports Could not open a connection to your authentication agent on your host stuff is all messed up on the guest"
http://stackoverflow.com/questions/17846529/could-not-open-a-connection-to-your-authentication-agent
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956091-when-ssh-add-reports-could-not-open-a-connection-to-your-authentication-agent-on-your-host-stuff-is-all-messed-up-on-the-guest?utm_campaign=plugin&utm_content=tracker%2F235881

[2013-10-23 02:41] pirog opened #72 "vagrant reload misses some magic"
it looks like most of the custom plugins here aren't run on vagrant reload, only vagrant up

[2013-10-28 16:57] pirog opened #73 "composer create-project is SLOW"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956090-composer-create-project-is-slow?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github).

[2013-10-28 18:43] patcon commented on #73
Not sure if it solves your dilemma, but heads up, amigo: https://github.com/fgrehm/vagrant-cachier/pull/50

[2013-10-28 18:58] pirog commented on #73
@patcon, DevOps guardian angel.

will def check this out. have you experimented with settings up your own composer repo a la http://getcomposer.org/doc/articles/handling-private-packages-with-satis.md at all?

[2013-10-28 20:20] patcon commented on #73
haha naw, sorry dude, haven't used satis, but there's this if you want to see what it generates:
http://packages.drupalbin.com/

Not sure if this is what you meant, but unsure if there would be any significant speed-up -- I think packagist mostly points to github tarballs, so it might not be packagist itself that's being slow. I might have more context if I could see the slow `composer.json`. Is i

[2013-10-28 20:27] pirog commented on #73
Maybe i read the docs wrong but i thought the issue was composert create-project actually just does a git clone followed by composer install which i suppose may also be a git clone if you have no actual tarball?

https://github.com/kalamuna/terminatur/blob/master/composer.json
pretty simple, just a dependency on terminus :/

[2013-11-01 22:25] pirog opened #74 "Update config.json handling for better terminatur integration"
We don't want to have the terminatur version hardcoded into the puppet manifests so that we can

1.) override the version in other things using config.json
2.) download the dev version of terminatur when the dev version of kalastack is grabbed
3.) not have to release a new kalastack version on EVERY terminatur update.

[2013-11-09 01:58] kellybell commented on #54
Not to butt in, but I can confirm what Howard has mentioned - making a new local.mysite folder in the sites folder, and duping my local site settings there. I learned it from DAMP, actually, because DAMP can be configured to do it that way, and it's what always worked best for me. I always wished they had an auto-symlink function that linked back your sites/default/files folder from this sites/loc

[2013-11-11 01:31] #74 closed, assigned to nobody

[2013-11-12 21:58] pirog opened #75 "terminatur version"
generally and according to the composer docz you should not put the version in composer.json. that said we should have a way to check the terminatur version in the stack so we can update on vagrant up --provision when the kalastack config.json changes with a new terminatur version. right now it just rebuilds every time which is not ideal.

composer doesn't show "terminatur" installed after create-

[2013-11-15 19:01] pirog opened #76 "Terminatur fails on update"
just a placeholder for people to find their way here:
https://github.com/kalamuna/terminatur/issues/13
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956088-terminatur-fails-on-update?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource

[2013-11-27 16:55] pirog opened #77 "Notice: Undefined index: root in /usr/share/kalaaliases/index.php on line 25"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956087-notice-undefined-index-root-in-usr-share-kalaaliases-index-php-on-line-25?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F235

[2013-11-29 19:47] whastings commented on #76
@pirog
Based on our discussion, it sounds like the best move is to add the removal of ~/.drush/cache to the Puppet routine for upgrading Terminatur.

[2013-11-30 16:45] pirog commented on #76
@whastings JUST ~/.drush/cache/default i think?

[2013-12-02 18:18] whastings commented on #76
Yup, looks like default is the right directory.

[2013-12-10 19:11] whastings commented on #77
Looks like Pantheon is no longer including the 'root' => '.' entry in alias files. @reynoldsalec has found that this causes issues with running any Drush commands against sites on Pantheon, and he's posted a notice to the Pantheon engineering discussion group.

[2013-12-10 19:47] pirog commented on #77
Pretty sure this is already fixed in head

On Tuesday, December 10, 2013, Will Hastings wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2013-12-10 19:52] whastings commented on #77
I know we fixed the error it was causing in aliases.kala, but I think it still causes issues with running regular drush commands against a Pantheon environment. I think we should see what Pantheon has to say about it, but I wanted to note it here since it's related.

[2013-12-10 20:58] pirog commented on #77
sounds good. if you guys could open an issue in terminus that is probably
the best way to get a response from jp.

On Tue, Dec 10, 2013 at 2:52 PM, Will Hastings notifications@github.comwrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2013-12-11 17:59] reynoldsalec commented on #77
Comments from the Pantheon folks regarding the removal of "root":

FROM JOSH:
Turns out that a relative path there was a "worst practice" according to Drush, and a blocker for us getting upgrades through on the platform side.

If you have an issue with bootstrapping, the first thing to check is if you are running from inside a local drupal installation. I've seen that create problems.

On the remo

[2013-12-11 18:04] pirog commented on #77
This is very helpful.

@reynoldsalec, does this ONLY impact sites ON pantheon or local kalabox sites as well? Steps to replicate the issue?

[2013-12-11 20:45] reynoldsalec commented on #77
@pirog

This is only for when you run remote commands using the Pantheon aliases from a local Drupal installation on your Kalabox. If I'm in /var/www/kalamuna and I try running "drush @pantheon.kalamuna.dev pm-list", it'll throw the error in the issue description. Running the same command from /var/www will work, or if you attach a --root flag with the location of the Drupal install on Pantheon.

[2013-12-11 22:49] pirog commented on #77
do you have a proposed resolution that we can use on our end?

On Wed, Dec 11, 2013 at 3:45 PM, reynoldsalec notifications@github.comwrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2013-12-11 23:15] reynoldsalec commented on #77
Can we patch Drush on Kalastack with the update Josh mentions in the Engineering Talk thread? At the very least we should document this somewhere, although Pantheon users should all be experiencing this issue on any platform, not just Kalastack-driven stuff.

[2013-12-12 20:07] pirog commented on #77
I'll look into it and get back to you guys

[2014-01-26 04:04] tz-earl opened #79 "Windows 7 hosts file - need to change permissions for install"
This is just a note for anyone who might be trying to use kalastack on a Windows system.

“vagrant up” command fails with error “HostsUpdater.rb:82:in `initialize': Permission denied - C:/Windows/system32/drivers/etc/hosts (Errno::EACCES)”.

After manually giving “Full control” permissions to all users, the command ran to completion.

However, leaving the permissions like this might be a security

[2014-01-26 19:03] pirog commented on #79
This is great to know! Thank @tz-earl.

Have you considering posting an issue on https://github.com/cogitatio/vagrant-hostsupdater?

[2014-01-26 19:35] tz-earl commented on #79
@pirog Thanks a lot for the suggestion. Have posted similar comment to an existing issue on  https://github.com/cogitatio/vagrant-hostsupdater .

[2014-01-26 23:29] ghost opened #80 "vagrant up fails with the following error"
![vagrant-up-fail](https://f.cloud.github.com/assets/5737959/2005385/8ac60db8-86e1-11e3-9935-a9a7e58354c2.png)

The error in this screenshot occurs on vagrant up. It appears to be attempting to change a folder into a file.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3956085-vagrant-up-fails-with-the-following-error?utm_campaign=pl

[2014-02-02 19:54] pirog commented on #79
Awesome. Can you post the link to that issue here so people can be routed?

[2014-02-02 20:03] pirog commented on #80
Have you tried this again? Same error?

[2014-02-03 01:40] tz-earl commented on #79
vagrant-hostsupdater issue:  https://github.com/cogitatio/vagrant-hostsupdater/issues/11

[2014-02-12 00:13] agold2 opened #81 "Feature request: Allow pasting into Pantheon password field"
I use a password manager (KeePassX) to generate strong passwords I don't need to know or ever type. I tried to paste my Pantheon password with no luck.

[2014-02-12 00:37] pirog commented on #81
Is this request for Kalastack or for Kalabox?

[2014-02-12 00:44] agold2 commented on #81
Kalabox. sorry...is there an issue queue for Kalabox?

[2014-02-12 00:45] pirog commented on #81
http://www.kalamuna.com/products/kalabox/
support tab on the right!

That said. We do have this issue in our tracker and it is slated to be
addressed in the next release!

On Tue, Feb 11, 2014 at 7:44 PM, agold2 notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-02-12 00:48] agold2 commented on #81
Excellent. Thanks, Mike!

[2014-02-15 20:46] bassettsj opened #82 "Performance - an open question"
I totally understand that vagrant is always going to be slower by nature, but I am wondering if there might be an optional puppet module to help set up redis for some caching on the environment to help make the drupal sites more performant and make the environment a little more similar to  Pantheon's.  I could be totally off, but I think this could be a nice addition to the puppet provisioning pro

[2014-02-17 16:50] pirog commented on #82
One of the priorities with kalastack was keeping it as lean as possible, which is why it doesn't ship with solr by default. We needed spin up times for kalabox to be as small as possible since it takes a bit to set up a whole webserver.

That said it's pretty straightforward to install redis on Ubuntu 12.04 and we could offer it as a one click post-install add on like SOLR.

Are you experiencing s

[2014-02-17 21:18] bassettsj commented on #82
Well this site is probably not tuned the best it can be, so I am not shocked that the performance isn't decent. The site itself is also huge, with around 50,000 nodes.

I also think my development workflow is a little more demanding in terms of needing a lot of page refreshes to see the changes in CSS styles or templates rendering.

I agree that keeping the base stack as light as possible is impor

[2014-02-17 21:20] pirog commented on #82
Awesome!

Let's work on implementing this when we are both around!

On Mon, Feb 17, 2014 at 4:18 PM, Steven Bassett notifications@github.comwrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-02-17 21:31] bassettsj commented on #82
Cool, I might fork it and learn a bit about Puppet and we can go from
there, maybe get a pull-request to work from.

On Mon, Feb 17, 2014 at 4:20 PM, Michael Pirog notifications@github.comwrote:

[2014-02-17 21:36] pirog commented on #82
I like pull requests :)

Puppet is a declarative language so its a little different from php in that
way. there are some good open source redis modules out there and moving to
underlying open source mods is something we want to do with a lot of things
in kalastack.

in the meantime... the way solr is set up as an additional manifest is
probably the way we want to go for now.

On Mon, Feb 17, 2014

[2014-06-07 06:52] andrewmallis opened #83 "provide a drupal 8 compatible stack"
[Drupal 8 system requirements](https://drupal.org/requirements) outline the following environmental differences from the current puppet configuration:

php 5.4+
[Drush](https://github.com/drush-ops/drush) 7 master branch (needs to be installed via composer)

We are seeking at this time to provide a [3.x-d8 branch](https://github.com/kalamuna/kalastack/tree/3.x-d8) that provides this functionality

[2014-06-07 06:54] andrewmallis commented on #83
b56eeae and 202c1d7 provide a successful PHP upgrade.

[2014-06-07 20:37] reynoldsalec opened #84 "Use Rsync instead of NFS"
We'll need to use Vagrant 1.5+ in Kalabox to make this work AND add something to the Kalabox initialization to use vagrant auto-sync, but the modification for this on Kalastack is pretty simple:

[code]

Will patch, just don't want to forget.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2553700-use-rsync-instead-of-nfs?utm_campaign

[2014-06-09 22:09] andrewmallis commented on #84
Should we should note impact on disk space in the readme?

Also note to check what happens if you have an existing ~/www/mysite but no kalabox vhost entry yet, then import that site. This use-case most often happens if the uninstall tool is run, then kalabox re-installed – we recommend this to users in support.

[2014-06-09 22:10] andrewmallis commented on #83
@gremy please note progress here.
We were having some issues installing drush via composer

[2014-06-10 17:21] pirog commented on #84
Now that we are in the github space it might be good to just start generating wiki articles for some of these concerns.

[2014-06-10 17:22] pirog commented on #83
Hey guys,

installing drush via composer is strange. you might want to look at what i
did in the dockerfile in
https://github.com/kalamuna/kalastack-docker

of course you will want to use drush 7 in your use case

On Mon, Jun 9, 2014 at 6:10 PM, Andrew_Mallis notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-13 19:43] reynoldsalec commented on #84
Hmm, the biggest problem with switching over to rsync is that automatic syncing from the virtual down to the host machine isn't working yet. Would have to wait for https://github.com/mitchellh/vagrant/issues/3062 to get completed before we can move forward on this; I'll write a wiki piece about using it for people who are having issues with NFS and want faster performance, but probably not practic

[2014-06-13 22:53] reynoldsalec commented on #84
Suggestion via @pirog: try implementing @substack's https://github.com/substack/sinker.

[2014-06-13 23:12] reynoldsalec commented on #84
Added a wiki page regarding basic use of rsync: https://github.com/kalamuna/kalastack/wiki/Using-Rsync-Instead-of-NFS

[2014-06-14 00:14] pirog commented on #84
@reynoldsalec would love to hear any and all feedback regarding sinker implementation!

[2014-06-14 02:29] reynoldsalec commented on #84
Trying a proof of concept right now; got it to "work", but it seems to only be doing an initial sync and then not doing any further sync beyond that when further edits are made.

As for basic implementation, would run a host script from Kalabox (@pirog suggested running from the initialize function on the box) and client script from the virtual machine (will need to add the initialization script v

[2014-06-16 19:07] pirog commented on #84
I might play around with this later in the week.

@reynoldsalec can you push what you've done to another branch? So we can

![image](https://cloud.githubusercontent.com/assets/713424/3291932/7ccb3712-f589-11e3-823a-7ee9427ce598.png)

[2014-06-16 19:08] pirog commented on #84
well, maybe just the collab part

[2014-06-16 23:51] reynoldsalec commented on #84
I haven't gone further than what I posted on the Sinker issue queue; with some sort of script to start it on startup, that'd probably be something we could commit, will be working on that on Friday, feel free to branch it before that if you're eager to get going.

[2014-06-24 23:32] HenrikBechmann opened #85 "start.kala fails after install"
Hi there,

I've just installed kalastack onto my new macbook pro (Mavericks; Vagrant 1.6.3; Virtualbox 4.3.12)

... but when I try start.kala in a browser, I get "502 Bad Gateway (nginx/1.1.19)"

Also ~/kalabox/www is empty.

I've been using Kalastack 2 (I presume 2 - I've been using it for a while) on my work desktop.

Is this a known issue on Mavericks?

Any ideas?

Thanks

[2014-06-25 00:14] reynoldsalec commented on #85
Did you try installing the 3.x branch from Github? That's the latest stuff, it's what we use on Kalabox.

I believe /kalabox/www should be empty when you first install the stack; the start.kala content isn't stored there.

I would check and make sure the virtual hosts were setup correctly on your virtual machine; check /etc/nginx/sites-avialable to see if the "start" vhost exists and check /etc/ho

[2014-06-25 00:51] HenrikBechmann commented on #85
yes 3.x from github.

I'll check virtual hosts, thanks

I just installed kalastack

[2014-06-25 00:54] reynoldsalec commented on #85
Cool, guessing you've tried restarting the virtual machine as well?

If you continue having problems you'll probably want to check the nginx error log (/var/log/nginx/error.log) and paste that here.

[2014-06-25 00:57] HenrikBechmann commented on #85
yeah, restarted

etc/hosts on the vm:

[code]

I added

[code]

but it didn't help

checking nginx sitesavailable next

[2014-06-25 01:01] pirog commented on #85
i am pretty sure 1.3.3.7 should be the IP address? Did that change somehow?

On Tue, Jun 24, 2014 at 5:57 PM, Henrik Bechmann notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-25 01:02] pirog commented on #85
Also, https://github.com/kalamuna/kalabox/issues/23 may be worth coordinating with.

[2014-06-25 01:03] HenrikBechmann commented on #85
sites-enabled/start looks ok

/usr/share/kalabox/index.php looks ok

error.log is filled with these:

[code]

[2014-06-25 01:05] pirog commented on #85
try changing the IPs to 1.3.3.7 in /etc/hosts on mac and see what happens.

On Tue, Jun 24, 2014 at 6:03 PM, Henrik Bechmann notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-25 01:09] HenrikBechmann commented on #85
already is:

[code]

What about instructions here: http://www.nginxtips.com/php5-fpm-sock-failed-13-permission-denied-error/

?

[2014-06-25 01:15] pirog commented on #85
whoops! my bad... thought you were reporting etc/hosts on mac not on VM.
those are correct then.

the article you posted looks very relevant. can you try that out and let it
know if it resolves your issue? the socket should be in /tmp as well for
kalastack. please report whether it has the wrong owner!

On Tue, Jun 24, 2014 at 6:09 PM, Henrik Bechmann notifications@github.com
wrote:

##

Cheers,

[2014-06-25 01:17] HenrikBechmann commented on #85
mañana :-P but I'll definitely get back to you. Thanks!

[2014-06-25 01:18] pirog commented on #85
can't argue with manana :)
thanks for your help with this!

On Tue, Jun 24, 2014 at 6:17 PM, Henrik Bechmann notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-25 01:26] HenrikBechmann commented on #85
I just tried user nginx - failed on restart, probably 'cause there's only one user: vagrant. ;-)

[code]

I'll try the rest tomorrow.

[2014-06-25 10:18] Nitty-Gritty commented on #85
I'm having the same "502 Bad Gateway nginx/1.1.19" error.

I've installed kalastack with Vagrant 1.3.5 and VirtualBox 2.4.18 (virtualbox-4.2_4.2.18-88780~Ubuntu~raring_i386.deb) on Mint 17.

Cloning kalastack through git appeared to work but I had NFS errors. Installing "nfs-common" solved that. Trying http://start.kala gave "server not found". nginx wasn't initially installed so I did that manual

[2014-06-25 15:58] reynoldsalec commented on #85
@Nitty-Gritty that sounds different, seems like the virtual environment wasn't provisioned correctly if nginx wasn't installed. You might try re-building Kalastack now that you have nfs-common installed on your host machine.

I know that some Ubuntu users have needed to change the nfs_version to 4 in the default.config.json file: https://github.com/kalamuna/kalastack/wiki/Tips-for-Installing-on-Ub

[2014-06-25 19:22] pirog commented on #85
I would try out the resolution proposed here https://github.com/kalamuna/kalabox/issues/23

[2014-06-25 19:45] pirog commented on #84
@substack is in China now but will be back Monday and is down to help work on Sinker for our purposes :)

[2014-06-25 19:47] pirog commented on #85
Can confirm that https://github.com/kalamuna/kalabox/issues/23 is actually this underlying Kalastack issue

[2014-06-25 19:50] pirog commented on #85
The easiest fix for this as of right now is to SSH into the box or stack and run

[code]

[2014-06-25 20:01] pirog commented on #85
commit below should resolve the issue if people want to apply manually for now

[2014-06-25 20:07] pirog opened #86 "Stop building from puppet server"
We may want to switch the default provisioning mechanism from the puppet master to local.

The benefit of foreman has run its course at this point and it would be more beneficial to reduce moving parts and an external request and just build locally.

This should be done soon and it happens in the Vagrantfile. You will also want to update the DOCs to reflect this. You may want to keep building remo

[2014-06-25 20:16] pirog commented on #85
Rebuilt from HEAD and it seems to resolve. Would be great for others to test. Destroy your vagrant env, pull latest code, build locally as per https://github.com/kalamuna/kalastack/wiki/How-to-Participate and it should be g2g.

[2014-06-25 22:41] HenrikBechmann commented on #85
@pirog

[code]

fixed the problem

Thanks!!! You're the best

[2014-06-26 01:17] pirog opened #87 "Switch to nfs v4"
since we are gearing towards mac 10.7+ we should be able to switch to NFS4 which fixes some vagrant issues.

[2014-06-26 01:57] #82 closed, assigned to nobody

[2014-06-26 01:57] pirog commented on #81
This should be GTG in latest Beta5 and upcomgin beta6!

[2014-06-26 01:57] #81 closed, assigned to nobody

[2014-06-26 01:58] pirog commented on #72
I think this has been resolved in later versions of vagrant!

[2014-06-26 01:58] #72 closed, assigned to nobody

[2014-06-26 02:12] pirog commented on #85
Ha! NO YOURE THE BEST!

[2014-06-26 02:12] #85 closed, assigned to pirog

[2014-06-26 02:18] pirog opened #88 "update to latest terminatur release"

[2014-06-26 02:18] pirog commented on #88
@reynoldsalec let me know when i should roll this in!

[2014-06-26 02:23] pirog commented on #87
@reynoldsalec and i think this might be a bad idea.

[2014-06-26 02:23] #87 closed, assigned to pirog

[2014-06-26 02:44] pirog opened #89 "Wrap SSH forwarding with conf var"

[2014-06-26 02:48] #86 closed, assigned to pirog

[2014-06-26 03:13] #89 closed, assigned to pirog

[2014-06-26 08:29] Nitty-Gritty commented on #85
You're ALL the best!!! The speed that this fix was developed at meant I was able to meet this scholarship trust founder today and not look as dumb as picking a previously untested distro 2 days prior to the meeting suggests I am :D

btw, I hope Pantheon realise what a huge draw card the Kalabox kickstarter would be to them and at least complete the goal. Even now Kalamuna is funnelling designers l

[2014-06-27 17:54] pirog commented on #85
THANKS SO MUCH!

We hope they do too... and we hope other platform providers see the
potential. We certainly think there is a lot.

On Thu, Jun 26, 2014 at 1:29 AM, Nitty-Gritty notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-27 19:26] reynoldsalec opened #90 "Add Kalatheme Tools"
We need to add..
- NPM
- Grunt
- Bower
- Anything else @bassettjs?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2860537-add-kalatheme-tools?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2014-06-27 19:30] reynoldsalec commented on #90
@gremy you can take a look at the Sinberbest readme to see what other requirements might be needed for Kalatheme 4.x

[2014-06-27 21:11] reynoldsalec commented on #83
@gremy does this actually work?

@dasrecht might have some tips on how to get this going, has done a D8 stack for Amazee.

[2014-06-28 21:53] labboy0276 opened #91 "With latest Kalastack, need to restart services"
Since the latest pull from 2 days ago.  When my kalastack starts, mysql and sometimes php is not connected.  I have to restart them both to get it to work.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2871599-with-latest-kalastack-need-to-restart-services?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_so

[2014-06-29 21:54] #88 closed, assigned to pirog

[2014-06-29 21:55] pirog commented on #83
@reynoldsalec @gremy the puppet code needs to be cleaned up to be more consistent with everything else in the repo

[2014-06-29 23:28] labboy0276 opened #92 "Mounting NFS shared folders fails / gets stuck"
OK

So i have spent all day trying to rebuild my stack.  I am constantly getting stuck at Mounting NFS shared folders.  In logging mode I get this:

INFO ssh: Setting SSH_AUTH_SOCK remotely: /tmp/ssh-rdpYNa1012/agent.1012
INFO retryable: Retryable exception raised: #<Vagrant::Errors::LinuxNFSMountFailed: The following SSH command responded with a non-zero exit status.
Vagrant assumes that this mea

[2014-06-29 23:48] labboy0276 commented on #92
I ended up winning this after all, what I did was:

change my nfs to version 4 in the default.config
i cleared out (not delete) the contents of /etc/exports in my OS and in my box (vagrant ssh still worked even tho it was fubared)
vagrant destroy
restarted
vagrant up

[2014-06-29 23:50] pirog commented on #92
@reynoldsalec i think there are some other tickets relating to timeout maybe we can point those users here to try this out and confirm?

[2014-06-30 14:26] labboy0276 commented on #91
Just as a FYI, I destroyed my box and redid everything, I am not seeing these problems as of yet.

Not sure if the upgrade nuked some stuff.  Fresh install seems to be happier.

[2014-06-30 17:31] pirog commented on #90
@gremy here is an article written by @labboy0276 that may help with parts of this
https://kalamuna.atlassian.net/wiki/pages/viewpage.action?pageId=23134210

[2014-07-06 21:58] HenrikBechmann commented on #85
Mike, just to confirm that I destroyed and rebuilt kalastack per your instructions above and all is good.

Thanks again.
- Henrik

[2014-07-08 02:06] pirog commented on #85
awesome! glad to hear it.

[2014-07-16 16:14] pandaPowder opened #94 "We should install vim by default"
I created a pull request to install vim. I hope I did it right :)
https://github.com/kalamuna/kalastack/pull/93

[2014-07-17 02:42] pirog commented on #94
I _think_ that you can use "vi" in kalastack by default which is normally what i do. Also think "nano" is available. Are either of those not sufficient for your needs?

That said... yes you did it right and i really dig the name of the issue/PR. We def want to maximize our days with sunshine for sure :)

[2014-07-17 18:10] pandaPowder commented on #94
I just verified that vi is there and based on the splash screen it is really vim. I rescind my pull request in that case. However, would it be worth an alias or something so that people don't get confused like I did? Or maybe more people try vi first. I don't know. Thanks!

[2014-07-17 22:07] pirog commented on #94
i've always just used "vi" but an alias might be fine as well if you want to PR that instead!

[2014-07-17 22:44] pandaPowder commented on #94
if I can figure out how to do that I will shoot one over. Thanks!

[2014-07-18 17:09] reynoldsalec commented on #94
FYI, I think technically this is vi; if you run "sudo apt-get install vim"
it'll install the actual vim package. So having any alias might be more
confusing than not...

On Thu, Jul 17, 2014 at 3:44 PM, pandaPowder notifications@github.com
wrote:

##

Co-founder Kalamuna, LLC http://www.kalamuna.com
510.666.5489
Skype: alec.kalamuna

[2014-07-18 18:35] pirog commented on #94
Yeah that might be weird and confusing. I'm going to close the issue on those grounds but @pandaPowder feel free to reopen if you think we should try to do something else here.

[2014-07-18 18:35] #94 closed, assigned to nobody

[2014-07-18 21:16] reynoldsalec commented on #92
To anyone using these instructions, be clear that you will want to backup the database of any sites you have on the Kalabox before running, since running "vagrant destroy" will wipe the virtualmachine.

[2014-07-29 15:21] pirog opened #95 "GRUB autoloader"
https://github.com/kalamuna/kalabox/issues/97

[2014-07-29 16:05] #95 closed, assigned to nobody

[2014-08-27 22:37] therobyouknow commented on #92
@labboy0276 "change my nfs to version 4 in the default.config" - can you provide more detail about changing to version 4. I've search on google quite extensively and there doesn't seem to be a definitive answer to 1) know what version I have 2) then upgrade to v4 (if using v3).

My system: Ubuntu 14.04 LTS 64bit on 8Gb i7 2.0Ghz ThinkPad X201S (host machine)

Wanting to run Ubuntu 12.04 LTS 64 bit

[2014-08-27 22:39] labboy0276 commented on #92
@therobyouknow In your kalastack folder there is a file called default.config.json

Find this  "nfs_version": "3",
change to  "nfs_version": "4",

[2014-09-25 23:01] RobLoach opened #96 "Add Front-End Development Tools"
Add a number of front-end ops tools. There's a list here of things that I've been using for front-end ops stuff:
https://github.com/RobLoach/forge/tree/master/forge#features

[2014-09-25 23:04] pirog commented on #96
For the purposes of this issue we probably really only need to add in the node/ruby requirements into the stack.

@gremy is this something you can help with? if so please ping me so i can show you the kalastack stuff real quickly before you begin.

[2014-09-25 23:13] gremy commented on #96
@pirog I sure can. How about I add the front-end stuff in the puppet script.

[2014-09-25 23:17] pirog commented on #96
yeah thats good, lets just talk for about 10 minutes before you go for it!
and open a branch up for it.

On Thu, Sep 25, 2014 at 4:13 PM, Emanuel Greucean notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-09-27 22:38] pirog commented on #96
@gremy here is a cheap and dirty way to get the latest stable node installed
https://github.com/pirog/kalastack/commit/057165acb9ebea11075c132f2530d06188a8dcb5

After `vagrant up` you should get something like this
![screen shot 2014-09-27 at 3 36 31 pm](https://cloud.githubusercontent.com/assets/713424/4432494/f800e950-4696-11e4-865c-9217acf625dc.png)

[2014-09-27 22:40] RobLoach commented on #96
Less than an hour?

[2014-09-27 22:40] pirog commented on #96
![screen shot 2014-09-27 at 3 40 24 pm](https://cloud.githubusercontent.com/assets/713424/4432497/4f0efd22-4697-11e4-8269-93155327fceb.png)

[2014-09-27 22:43] pirog commented on #96
I haven't installed the rest of the tooling stuff though which i _did_ say i would do in less than an hour... but i've still got time :)

that said @gremy, i think this was the only blocker for you so if you want to merge it in and take it rest of the way feel free :)

[2014-09-27 22:48] pirog commented on #96
![image](https://cloud.githubusercontent.com/assets/713424/4432514/6a6e9838-4698-11e4-8843-f284c6c2339d.png)

[2014-09-27 23:38] RobLoach commented on #96
https://github.com/pirog/kalastack/pull/1

Need a new machine to do any kind of virtualization. This is just way too slow to test.

[2014-10-20 17:40] #96 closed, assigned to nobody

[2014-10-20 19:00] RobLoach opened #101 "Configuration to expose a certain port"
Expose set of ports to allow certain services access from the host environment.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5409245-configuration-to-expose-a-certain-port?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2014-10-23 17:49] andrewmallis opened #102 "link to styleguide from the prototype"
a quick link in the footer or main nav while we develop would be useful
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5478586-link-to-styleguide-from-the-prototype?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campai

[2014-10-23 18:14] pirog commented on #102
wrong repo?

[2014-10-27 11:59] valter-silva-au commented on #79
To me granting to everyone read and execute permissions into folder C:\Users\Valter.vagrant.d is what it works!

[2014-10-29 20:51] pirog commented on #79
good thoughts here.

@valterhenrique, def be careful doing a blanket permissions reset there as it may have other unintended security implications.

[2014-11-28 16:50] snowguy opened #103 "Couldn't resolve host 'terminus.getpantheon.com'"
Update:
Sorry somehow the way I shutdown and started vagrant no hosts could be resolved. I used vagrant halt and vagrant up and the problem was solved.

ORIGINAL ISSUE:
after I vargrant ssh into the box and do a drush ta things start acting odd throwing error like "CONNECTION ERROR: name lookup timed out ". When I execute drush pauth, I get the error  "Dashboard unavailable: Couldn't resolve host

[2014-12-01 18:11] pirog commented on #103
Sounds like it might be a DNS issue.

Can you ping terminus.getpantheon.com from both your host and from inside the box?

Switching your DNS over to google's 8.8.8.8 may help resolution as well.

[2014-12-21 00:01] kopeboy opened #105 "Installation: downloading Kalabox?"
If I understand correctly Kalabox is a GUI "add-on" to Kalastack. Following the installation process in the kalastack/readme.md will download "kalabox", which is never mentioned in the readme.

(I had problems with my one of my Pantheon sites, which couldn't work on local, so I wanted to uninstall everything and restart, included Vagrant & Vitrualbox)

[2014-12-21 00:47] pirog commented on #105
Kalabox uses kalastack but it isn't an "add-on" to kalastack in the sense that you can download and install kalastack and then do something else to get kalabox.

If you want Kalabox i would just download the dmg from https://github.com/kalamuna/kalaboxv1/releases

[2014-12-21 02:35] kopeboy commented on #105
Ok thanks. I didn't want kalabox. It was just misleading naming: I was installing "kalastack 3" and then at http://start.kala I see "kalabox 2"

[2014-12-21 02:35] #105 closed, assigned to nobody

[2014-12-24 09:25] rgeleta opened #106 "pull request for kalastack.wiki"
review changes at github.com/rgeleta/kalastack.wiki and update kalastack.wiki with changes.

Bob
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7235925-pull-request-for-kalastack-wiki?utm_campaign=plugin&utm_content=tracker%2F235881&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2014-12-27 18:03] pirog commented on #106
getting a 404 when i check out github.com/rgeleta/kalastack.wiki :(

[2014-12-27 18:16] rgeleta commented on #106
Is branch set to 3.x or pirog1?

I was looking at branch pirog1 and left it there. Perhaps what I left it on was your default?

I just logged in and set it to 3.x.  Please try again.

Bob

[2014-12-27 18:18] pirog commented on #106
ok. i'll try to give it a look!

On Sat, Dec 27, 2014 at 10:16 AM, rgeleta notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-12-27 18:19] pirog commented on #106
ok i see your stuff now. will go through it in a bit and merge it into the
main wiki!

thanks so much bob!

On Sat, Dec 27, 2014 at 10:18 AM, Mike Pirog mike@kalamuna.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-12-27 18:24] rgeleta commented on #106
However, when logged in, and
... go to rgeleta/kalastack project
... change branch to 3.x
... go to wiki (and see my changes)
... go back to main rgeleta/kalastack project page
the version is still pirog1

any suggestions on how to make branch change stick?

---

 From: Mike Pirog notifications@github.com
To: kalamuna/kalastack kalastack@noreply.github.com
Cc: rgeleta rgeletasf-github@yahoo.com
Se

[2014-12-27 18:26] pirog commented on #106
the kalastack wiki is on a different git repo so i _think_ it doesnt matter
which branch the kalastack repo is on. the last commit i see in the git log
for your wiki is

[code]

does that look right?

[2014-12-27 19:03] rgeleta commented on #106
No that does not look right.

Wikis are different, I had to work on branch master, and I have some unresolved conflicts.  Will update issue when conflicts are resolved.

[2014-12-27 19:31] rgeleta commented on #106
Correction: Yes that is right.

Prior response based upon comparison against obsolete local repo.

[2015-01-19 07:13] vefaliahmet commented on #79
open commant prompt as administrator on your directory than type vagrant up.

[2015-02-23 18:55] solipsist opened #107 "Cannot re-provision after upgrading"
Hi,

I just upgraded from an earlier version of KS 3 (did a git pull in the kalastack directory). The previous version was about a year old. I'd like to re-provision the box I've been working on since about a year.

`vagrant up --provision` gives this error:

`==> default: Could not find class kalabox for kala.693e23a9a8a5939ae113155894ff3e1d.box at /tmp/vagrant-puppet/manifests-a11d1078b1b1f2e3bd

[2015-10-11 18:10] prionkor commented on #79
@vefaliahmet Thanks! That worked for me :) :+1:

[2016-10-21 11:04] saurabhguptaDoingCS commented on #92
@labboy0276  I am using latest vagrant(1.8.6) on OSX 10.11.6 (El Capitan) and trying running ubuntu16.04.1 LTS on docker and getting this same error.

Can you please tell me "how to change the nfs_version on mac?"

[2016-10-21 15:26] labboy0276 commented on #92
@saurabhguptaDoingCS this repo has been depreciated for many years now.  I would switch to kalabox 2.

[2016-10-21 15:26] #92 closed